In [ ]:

# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [ ]:
df.head(3)
df.info()

In [ ]:
median_yearly_sal=df['salary_year_avg'].median()
median_hourly_sal=df['salary_hour_avg'].median()

**(I) To Fill The NaN values**

In [ ]:
df['salary_year_avg'].fillna(median_yearly_sal, inplace=True)
df.loc[:,['salary_year_avg','salary_hour_avg']]

In [ ]:
df['salary_hour_avg'].fillna(median_hourly_sal, inplace=True)
df.loc[:,['salary_year_avg','salary_hour_avg']]

In [ ]:
df.drop('month',axis=1,inplace=True)

In [ ]:
df.info()

In [ ]:
df_unique=df

**(II) Drop Duplicate Data From DataFrame**

**(a) Default**

In [ ]:
df_unique=df_unique.drop_duplicates()

In [ ]:
len(df)-len(df_unique)

In [ ]:
df_unique.head(5)

In [ ]:
df_unique_specified=df

**(a) Drop Duplicate From Specidied Columns**

In [ ]:
df_unique_specified=df_unique_specified.drop_duplicates(subset=['job_title','company_name'])

In [ ]:
len(df)-len(df_unique_specified)

In [ ]:
df

In [ ]:
df=df.drop_duplicates()

In [ ]:
df['salary_year_avg'].fillna(median_yearly_sal, inplace=True)
df['salary_hour_avg'].fillna(median_hourly_sal, inplace=True)

In [ ]:
df.head()