**Projected Salary of 3% for All Jobs**

In [2]:

# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
new_df= df[df['salary_year_avg'].notna()]
def projected_salary(salary):
    return salary*1.03

new_df['projected_salary']=new_df['salary_year_avg'].apply(projected_salary)
new_df
new_df[['salary_year_avg', 'projected_salary']]

C:\Users\sonip\AppData\Local\Temp\ipykernel_21000\3659127820.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['projected_salary']=new_df['salary_year_avg'].apply(projected_salary)

        salary_year_avg  projected_salary
28             109500.0         112785.00
77             140000.0         144200.00
92             120000.0         123600.00
100            228222.0         235068.66
109             89000.0          91670.00
...                 ...               ...
785624         139216.0         143392.48
785641         150000.0         154500.00
785648         221875.0         228531.25
785682         157500.0         162225.00
785692         157500.0         162225.00

[22003 rows x 2 columns]

**Projected salary of 5% for Senior Roles Rest 3%**

In [11]:
df_salary=new_df.copy()

In [12]:
def projected_salary(row):
    if 'Senior' in row['job_title_short']:
        return row['salary_year_avg'] * 1.05
    else:
        return row['salary_year_avg'] * 1.03

df_salary['projected_salary']= df_salary.apply(projected_salary, axis =1)

In [14]:
df_salary[['job_title_short', 'salary_year_avg', 'projected_salary']]

       job_title_short  salary_year_avg  projected_salary
28      Data Scientist         109500.0         112785.00
77       Data Engineer         140000.0         144200.00
92       Data Engineer         120000.0         123600.00
100     Data Scientist         228222.0         235068.66
109       Data Analyst          89000.0          91670.00
...                ...              ...               ...
785624   Data Engineer         139216.0         143392.48
785641   Data Engineer         150000.0         154500.00
785648  Data Scientist         221875.0         228531.25
785682  Data Scientist         157500.0         162225.00
785692  Data Scientist         157500.0         162225.00

[22003 rows x 3 columns]